@import url(/style/fonts/fonts.css);
/* reset css */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
// variables
$white-Ptext: #fff;
$font-Comfortaa: 'Comfortaa', cursive;
$font-DancingScript: 'Dancing Script', cursive;
// mixin
@mixin aligning {
  justify-content: center;
  align-items: center;
}
.container {
  padding: 1.5rem;
  height: calc(90vh - 50px);
  background: #73c8a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #373b44,
    #73c8a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #373b44,
    #73c8a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // margin: auto auto;
  position: relative;

  border-radius: 1rem;
  box-shadow: #75757575 0px 0px 20px 4px;
  overflow: hidden;
}
// root font size
html {
  font-size: 10px;
}
// body spacing
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  height: 100vh;
}
// top of the container : header
.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// logo style
.container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  h4 {
    font-family: $font-DancingScript;
    color: #73c8a9;
    text-shadow: 2px 1px #373b44;
    font-size: 3rem;
  }
}
// form styling
.form {
  display: grid;
  grid-template-columns: 1fr 0fr;
  gap: 2rem;
  max-width: 40rem;
  height: 4rem;
  border-bottom: 0.1rem #fff solid;
}
.form__input-name {
  background-color: transparent;
  color: $white-Ptext;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
}
.form__input-name::placeholder {
  color: rgba(255, 255, 255, 0.585);
  font-size: 1.4rem;
}
.form__btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: $white-Ptext;
  height: 100%;
}
// data ariving container : weather
.weather {
  overflow-y: scroll;
  width: 80%;
  height: 55vh;
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 35rem));
  // @include aligning();
  justify-content: center;
  transition: all ease 1s;
  gap: 1.5rem;
  padding: 2rem;
}
.weather::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #73c8a9;
  border-radius: 50px;
}
.weather::-webkit-scrollbar-thumb {
  background-color: #373b44;
  border-radius: 50px;
}
// main weather cards
.weather__card {
  position: relative;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: $font-Comfortaa;
  display: flex;
  flex-direction: column;
  color: #fff;
  transition: all ease 0.2s;
  box-shadow: 0px 0.1rem 1rem 0px #acb6e545;

  &:hover {
    // transform: translateY(-1rem);
    box-shadow: 0.5rem 1rem 1rem 0px #acb6e545;
  }
  opacity: 1;
  // height: 23rem;
  height: 20rem;
  cursor: pointer;
}

// hidden class to make fade in animation after removing from js
.hidden {
  opacity: 0;
}

// .weather__card.hidden {
//   transition: all ease 1s;
//   opacity: 0;
// }
// weather card common styles
.weather__card__details__city-name {
  font-size: 2.5rem;
}
.weather__card__details__temp {
  text-align: center;
  font-size: 5rem;
  word-wrap: break-word;
  padding: 1rem;
  height: 80px;
  line-height: 80px;
}
.weather__card__sky-status {
  display: grid;
  grid-template-columns: 1fr 0fr;
  // including mixing code
  @include aligning();
}
.weather__card__sky-status__text {
  font-size: 2rem;
}
// alert message will add to form by JS
.alert {
  border-color: red;
  position: relative;
  &::before {
    content: 'No matching location found :(';
    position: absolute;
    bottom: -2.3rem;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    font-family: $font-Comfortaa;
    color: rgb(255, 20, 67);
    text-shadow: 1px 0px rgba(194, 188, 188, 0.525);
  }
}
// close button for cards that are open
.weather__card__close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .container {
    height: 90vh;
    width: 100%;
    // top of the container : header
    .header {
      flex-direction: row;
      justify-content: space-between;

      .form__input-name {
        font-size: 2rem;
        &::placeholder {
          font-size: 2rem;
        }
      }
    }
    .weather {
      height: 65vh;
    }
  }
  .weather__card__details__temp {
    font-size: 6rem;
  }
  .weather__card__sky-status__text {
    font-size: 3rem;
  }
}
